.App {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.react-datepicker__time-list {
  padding: 0 !important;
}

.row {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}
